<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="example-3">
    <input type="checkbox" id="111" value="11111" v-model="checkedName">
    <input type="checkbox" id="222" value="22222" v-model="checkedName">
    <input type="checkbox" id="333" value="33333" v-model="checkedName">
    <span>Checked names: {{ checkedName }}</span>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var example3 = new Vue({
      el: '#example-3',
      data: {
        checkedName: []
      }
    })
</script>
</body>
</html>