<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
    {{message}}
</div>

<div id="app-2">
    <span v-bind:title="message">
        鼠标悬停几秒查看此处动态绑定的提示信息！
    </span>
</div>

<div id="app-3">
    <p v-if="seen">现在你看到我了</p>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">{{ todo.text }}</li>
    </ol>
</div>

<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
</div>

<div id="app-6">
    <p>{{ message }}</p>
    <input type="text" v-model="message">
</div>

<div id="app-7">
    <ol>
        <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
    </ol>
</div>

<div id="app-8">
    <button v-bind:disabled="isSpanDisabled">显示隐藏</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app8 = new Vue({
      el: '#app-8',
      data: {
        isSpanDisabled: true
      }
    })
  Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{ todo.text }}</li>'
  })
  var app7 = new Vue({
    el: '#app-7',
    data: {
      groceryList: [
        {id: 0, text: '111'},
        {id: 1, text: '222'},
        {id: 2, text: '333'}
      ]
    }
  })
  var app6 = new Vue({
    el: '#app-6',
    data: {
      message: 'Hello Vue'
    }
  })
  var app5 = new Vue({
    el: '#app-5',
    data: {
      message: 'Hello Vue.js'
    },
    methods: {
      reverseMessage: function () {
        this.message = this.message.split('').reverse().join('');
      }
    }
  })
  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue'
    }
  });

  var app2 = new Vue({
    el: '#app-2',
    data: {
      message: '页面加载于' + new Date().toLocaleString()
    }
  });

  var app3 = new Vue({
    el: '#app-3',
    data: {
      seen: true
    }
  });

  var app4 = new Vue({
    el: '#app-4',
    data: {
      todos: [
        {text: 'learn JavaScript'},
        {text: 'learn Html'},
        {text: 'learn Css'}
      ]
    }
  })
</script>
</body>
</html>